[Desktop Entry]
Name=sWM
Comment=A simple stacking window manager
Exec=sWM ~/.config/sWM/config.cfg
TryExec=sWM ~/.config/sWM/config.cfg
Type=Application
